<section>
    <h1 class="text-center">Pokémon List</h1>
  
    <!-- Loading Indicator -->
    <div *ngIf="isLoading" class="text-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  
    <!-- Error Message -->
    <div *ngIf="errorMessage" class="alert alert-danger text-center">
      {{ errorMessage }}
    </div>
  
    <!-- Pokémon Grid -->
    <div *ngIf="!isLoading && !errorMessage">
      <article *ngFor="let pokemon of pokemons">
        <img [src]="pokemon.image"[alt]="pokemon.name" />
        <h5>{{ pokemon.name }}</h5>
      </article>
    </div>
</section>