section {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 0 4em;
}

app-one-friend {
    width: 50%;
}

label {
    display: flex;
    flex-direction: column;
}