article {
    width: 350px;
    height: 75vh;
    padding: 2em;
    border-radius: 1em;
}
section {
    display: flex;
    gap: 1em;
}
img {
    max-width: 300px;
}

#styleBinding {
    padding: .5em;
    border-radius: 1em;
    height: fit-content;
    position: absolute;
    border: 2px solid black;
}

.amiOn {
    background-color: chartreuse;
}

.amiOff {
    background-color: violet;
}

