article {
    background-color: cadetblue;
    width: 80%;
    padding: 2em;
    border-radius: 1em;
}
img {
    width: 100%;
}
button {
    border: 1px solid black;
    border-radius: 5px;
    padding: .5em;
    background-color: greenyellow;
    color: black;
}
button:disabled {
    border: 1px dashed black;
    background-color: rgb(219, 255, 165);
    color: rgb(139, 139, 139);
}